<h3>Video List</h3>

<div
  *ngFor="let video of videos"
  (click)="emitSelectedVideo(video)"
  [class.highlight]="video === selectedVideo">
  <app-video-item [video]="video"></app-video-item>
</div>

