<app-stat-filters (filterChange)="handleFilter($event)">

</app-stat-filters>

<app-video-list
  (selectVideo)="handleSelectVideo($event)"
  [videos]="filteredVideos | async"
  [selectedVideo]="selectedVideo">
</app-video-list>

<!-- video player needs input for selectedVideo -->
<app-video-player
  [playerSelectedVideo]="selectedVideo">
</app-video-player>
<pre>
  {{ selectedVideo | json}}
</pre>
